<div class="conta-container">
    <div class="img-container"></div>

    <div class="icon-container">
        <div class="icon"> {{firstLetters}} </div>

        <div class="nome-cargo">
            <h2>{{userName}}</h2>
            <p>{{userLevel.toLocaleUpperCase()}}</p>
        </div>
    </div>

    <div class="sobre-container">
        <div class="perfil">
            <div class="title-btn">
                <p>perfil</p>

                <a href="conta">editar</a>
            </div>

            <div class="cidade">
                <p class="title">CIDADE</p>

                <p>São Paulo</p>
            </div>

            <div class="email">
                <p class="title">E-MAIL</p>

                <p>rm97732&#64;fiap.com</p>
            </div>

            <div class="aniversario">
                <p class="title">ANIVERSÁRIO</p>

                <p>30/11</p>
            </div>

            <div class="DDA">
                <p class="title">DATA DE ADMISSÃO</p>

                <p>01/06/2021</p>
            </div>
        </div>

        <div class="sobre-medalhas">
            <div class="sobre-mim">
                <div class="title-btn">
                    <p>sobre mim</p>
    
                    <a href="conta">editar</a>
                </div>

                <p>Sou uma pessoa resiliente, proativa e amo um ambiente colaborativo leve e descontraído!</p>
            </div>

            <div class="medalhas">
                <div class="title-btn">
                    <p>Medalhas</p>
    
                    <a href="conta">detalhes</a>
                </div>

                <div class="medalhas-img">
                    <div class="medalha-container">
                        <img src="assets/img/medals/bronze.png" alt="Bronze">
                        <div class="medals-number">
                            <p>0</p>
                        </div>
                    </div>

                    <div class="medalha-container">
                        <img src="assets/img/medals/prata.png" alt="Prata">
                        <div class="medals-number">
                            <p>0</p>
                        </div>
                    </div>

                    <div class="medalha-container">
                        <img src="assets/img/medals/ouro.png" alt="Ouro">
                        <div class="medals-number">
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>