<div class="home-container">
    <div class="meus-cursos">
        <h2>Meus cursos</h2>

        <div class="cursos-display">
            <div *ngFor="let data of cursos">
                <a [routerLink]="['/roadmap', data.nomeUrl]">
                  {{verificaBarrinha(data.nomeUrl)}}
                    <div class="curso-container">
                        <img *ngIf="aulasFeitasNum == data.aulas.length" src="assets/img/roadmap/Medalha.png" alt="MEDALHAS" class="medalha">
                        <p>{{data.nome}}</p>
                        <div class="bar-aulas">
                            <div class="complete-bar" [ngStyle]="tamanhoBarraAulas(data)"></div>
                            <p>{{verificaAulasFeitas(data.nomeUrl)}}/{{data.aulas.length}} aulas</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="recomendados">
        <h2>Cursos recomendados</h2>

        <div class="cursos-display">
            <div *ngFor="let data of cursos">
                <a [routerLink]="['/roadmap', data.nomeUrl]">
                  {{verificaBarrinha(data.nomeUrl)}}
                    <div class="curso-container">
                        <img *ngIf="aulasFeitasNum == data.aulas.length" src="assets/img/roadmap/Medalha.png" alt="MEDALHAS" class="medalha">
                        <p>{{data.nome}}</p>
                        <div class="bar-aulas">
                            <div class="complete-bar" [ngStyle]="tamanhoBarraAulas(data)"></div>
                            <p>{{verificaAulasFeitas(data.nomeUrl)}}/{{data.aulas.length}} aulas</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
