.roadmap-container{
  .hover-details{
    z-index: 10000000;
    position: absolute;
    border-radius: 14px;
    background-color: #39D98A;
    min-height: 120px;
    width: 150px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
  }

    header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-weight: 500;
      margin-bottom: 60px;

      .btn-voltar{
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #0350C4;
      }

      .title{ font-size: 1.2rem; }

      .bar-aulas{
        display: flex;
        align-items: center;
        gap: 20px;

        .complete-bar{
          width: 200px;
          height: 15px;
          border-radius: 14px;
        }

        p{
          font-size: 12px;
          color: #979797;
        }
      }
    }

    .roadmap{
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;

      .nuvemEsquerda{
        position: absolute;
        width: 150px;
        height: 150px;
        margin-top: -80px;
        margin-left: -60px;
        z-index: 20;
      }

      .nuvemDireita{
        position: absolute;
        width: 150px;
        height: 150px;
        margin-top: -80px;
        margin-left: 30px;
        z-index: 20;
      }

      .medalha{
        position: absolute;
        width: 80px;
        height: 80px;
        z-index: 26;
      }

      a{ text-decoration: none; color: #FFCC00; }

      .class-ball, .class-ball-curve-mp2, .class-ball-curve-mp4, .class-ball-curve-odd-mp2, .class-ball-curve-odd-mp4{
        display: flex;
        width: 100px;
        height: 100px;
        background-color: #39D98A;
        margin-bottom: 60px;
        border-radius: 100%;
        box-shadow: -7px 5px 20px rgb(0 0 0 / 44%)
      }

      .class-ball{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .ball-path{
          width: 20px;
          height: 80px;
          background-color: #39D98A;
          margin-top: -80px;
        }

        span{
          font-size: 5rem;
          z-index: 1;
        }

        .medalha{
          margin-right: -90px;
          margin-top: 80px;      
        }
      }

      .class-ball-curve-mp2, .class-ball-curve-mp4, .class-ball-curve-odd-mp2, .class-ball-curve-odd-mp4{
        align-items: center;

        .ball-path-curve{
            color: #39D98A;
            font-size: 200px;
        }

        span{ font-size: 5rem; z-index: 1;}
      }

      .class-ball-curve-odd-mp2{
            flex-direction: row-reverse;

            .ball-path-curve{
              background: linear-gradient(#d1d1d1 30%, #39D98A 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
                rotate: 90deg;
                margin-right: -120px;
                margin-top: -100px;
            }

            span{ margin-right: -75px;  }

            .nuvem{
              margin-left: 80px;
            }

            .medalha{
              margin-right: -30px;
              margin-top: 80px;
            }
        }

      .class-ball-curve-mp2{
            flex-direction: column;
            margin-left: 230px;

            .ball-path-curve{
              background: linear-gradient(#d1d1d1 30%, #39D98A 50%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
                margin-top: -150px;
                margin-left: -100px;
                rotate: 0deg;
            }

            .nuvem{
              margin-left: 80px;
            }

            .medalha{
              margin-right: -70px;
              margin-top: 50px;
            }

            span{ margin-top: -40px;  }
        }

        .class-ball-curve-odd-mp4{
            flex-direction: row;

            .ball-path-curve{
                background: linear-gradient(#39D98A 30%, #d1d1d1 50%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                rotate: 180deg;
                margin-left: -120px;
                margin-top: -100px;
            }

            span{ margin-right: -70px;  }

            .medalha{
              margin-left: 40px;
              margin-top: 100px;
            }
        }

      .class-ball-curve-mp4{
            flex-direction: column;
            margin-right: 230px;

            .ball-path-curve{
                background: linear-gradient(#39D98A 30%, #d1d1d1 50%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent ;
                margin-top: -150px;
                margin-right: -100px;
                rotate: 270deg;
            }

            span{ margin-top: -40px;  }

            .medalha{
              margin-right: 80px;
              margin-top: 60px;
            }
        }

        .lockedClass{
          background-color: #d1d1d1;
          color: #fff;

          .ball-path-curve{
            background: #d1d1d1;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .ball-path{ background-color: #d1d1d1; }
        }

        .pendingClass{
          background-color: #39D98A;
          color: #fff;

          .ball-path{ background: linear-gradient(#d1d1d1 20%, #39D98A 100%); }
        }

        .finishedClass{
          background-color: #39D98A;
          color: #FFCC00;

          .ball-path-curve{ background: #39D98A;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          .ball-path{ background-color: #39D98A;}
        }
    }

}
