<div class="roadmap-container">
    <header>
        <a href="#" class="btn-voltar"><span class="material-symbols-outlined">
            arrow_circle_left
            </span>Voltar</a>

        <p class="title">{{course.nome}}</p>

        <div class="bar-aulas">
            <div class="complete-bar"></div>
            <p>0/{{course.aulas.length}} aulas</p>
        </div>
    </header>

    <div class="roadmap">
        <div *ngFor="let data of course.aulas; index as i">
          <div *ngIf="course.aulas.length <= 3">
            <a href="">
              <div class="class-ball">
                <div class="ball-path" *ngIf="course.aulas[i+1]"></div>

                <span class="material-symbols-outlined btn-play">
                  arrow_right
                </span>
              </div>
            </a>
          </div>

          <div *ngIf="course.aulas.length > 3 && course.aulas.length <= 6">
            <a href="">
              <div [ngClass]="i >= course.aulas.length - 3 ? 'class-ball' : 'class-ball-curve'" >
                <div class="ball-path" *ngIf="course.aulas[i+1] && i >= course.aulas.length - 3"></div>
                <div class=" ball-path-curve-top" *ngIf="i < course.aulas.length - 3"></div>


                <span class="material-symbols-outlined">
                  arrow_right
                  </span>
              </div>
            </a>
          </div>
        </div>
    </div>
</div>
