<div class="app-container">
  <header class="side-bar">
    <a href="#" class="inova-icon-home-btn">
      <img class="inova-icon" src="assets/icons/inovaHubIcon.png" alt="inovaHub">
      
      <div class="inova-name">
        <p class="inova">INOVA</p>
        <P class="hub">HUB</P>
      </div>
    </a>

    <div class="user">
      <img class="noImageUser" src="assets/icons/noImage.png" alt="no image">

      <div class="user-text">
        <p>Bem vindo,</p>
      <p>{{userName}}</p>
      </div>
    </div>

    <div class="navlist">
      <a href="#" class="setPage">
        <img src="assets/icons/homeIcon.png" alt="home icon">
        <p>Home</p>
      </a>

      <a href="#">
        <img src="assets/icons/rankingIcon.png" alt="home icon">
        <p>Ranking</p>
      </a>

      <a href="#">
        <img src="assets/icons/challengeIcon.png" alt="home icon">
        <p>Desafios</p>
      </a>

      <a href="#">
        <img src="assets/icons/userIcon.png" alt="home icon">
        <p>Conta</p>
      </a>

      <a href="#">
        <img src="assets/icons/settingsIcon.png" alt="home icon">
        <p>Configurações</p>
      </a>
    </div>
  </header>

  <div class="general-container">
    <app-search-bar></app-search-bar>
    <router-outlet></router-outlet>
  </div>
</div>