.app-container{
    scroll-behavior: smooth;
    display: flex;
    gap: 20px;

    .side-bar{
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-shadow: 3px -4px 3px #d1d1d1;
        gap: 40px;

        .inova-icon-home-btn{
            display: flex;
            gap: 8px;
            align-items: center;
            text-decoration: none;

            .inova-icon{
                padding-right: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                border-radius: 14px;
                background-color: #d1d1d1;
                width: 67px;
                height: 84;
            }

            .inova-name{
                display: flex;
                font-size: 28px;

                .inova{ color: #0164f8; }

                .hub{ color: #39d98a; }
            }
        }

        .user{
            display: flex;
            align-items: center;
            gap: 8px;

            .noImageUser{
                width: 50px;
                height: 50px;
            }

            .user-text{
                p{
                    font-size: 25px;
                }
            }
        }

        .navlist{
            display: flex;
            flex-direction: column;
            gap: 10px;

            a{
                padding: 10px;
                display: flex;
                text-decoration: none;
                align-items: center;
                border-radius: 14px;
                gap: 8px;
                transition: all ease-in-out 0.2s;

                img{
                    width: 20px;
                    height: 20px;
                }
            }

            a:hover{
                background-color: #d1d1d1;
            }

            .setPage{ background-color: #d1d1d1; }
        }
    }
}
