<div class="ranking-container">
    <div class="title">
        <p>Ranking</p>
    </div>

    <div class="ranking">
        <div class="top3">
            <div class="card">
                <img src="assets/img/userImg/girlImg.png" class="user-img" alt="joana">

                <div class="card-text-and-medals">
                    <div class="medal">
                        <img src="assets/img/medals/prata.png" alt="medalha de prata">
                    </div>

                    <div class="texts">
                        <p class="user-name">Joana</p>
                        <p class="cursos">27 cursos</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="assets/img/userImg/AmImg.png" class="user-img" alt="Am">

                <div class="card-text-and-medals-top1">
                    <div class="medal">
                        <img src="assets/img/medals/ouro.png" alt="medalha de ouro">
                    </div>

                    <div class="texts">
                        <p class="user-name">André. M</p>
                        <p class="cursos">49 cursos</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="assets/img/userImg/IpImg.png" class="user-img" alt="Ip">

                <div class="card-text-and-medals">
                    <div class="medal">
                        <img src="assets/img/medals/bronze.png" alt="medalha de bronze">
                    </div>

                    <div class="texts">
                        <p class="user-name">Italo P.</p>
                        <p class="cursos">21 cursos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="resto">
            <div class="table-header">
                <div class="rank-colaborador">
                    <p>Rank</p>

                    <p>Colaborador</p>
                </div>

                <p>Cursos</p>
            </div>

            <div class="table">
                <div class="row">
                    <div class="number-name">
                        <p>4º</p>

                        <p>João Rosinhole</p>
                    </div>

                    <p>17</p>
                </div>

                <div class="row">
                    <div class="number-name">
                        <p>5º</p>

                        <p>Bryan Teixeira</p>
                    </div>

                    <p>14</p>
                </div>

                <div class="row">
                    <div class="number-name">
                        <p>6º</p>

                        <p>Paulo Sinkawa</p>
                    </div>

                    <p>13</p>
                </div>

                <div class="row">
                    <div class="number-name">
                        <p>7º</p>

                        <p>André Maluf</p>
                    </div>

                    <p>11</p>
                </div>

                <div class="row">
                    <div class="number-name">
                        <p>8º</p>

                        <p>Márcio Santos</p>
                    </div>

                    <p>8</p>
                </div>

                <div class="row">
                    <div class="number-name">
                        <p>9º</p>

                        <p>Beatriz Alencar</p>
                    </div>

                    <p>6</p>
                </div>

                <div class="row">
                    <div class="number-name">
                        <p>10º</p>

                        <p>Gustavo Goulart</p>
                    </div>

                    <p>3</p>
                </div>
            </div>
        </div>
    </div>
</div>